body {
    width: 1920px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
ul li {
    list-style-type: none;
}

/* Main-section */

#header {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
.main {
    background-image: url(../img/backgrounds/background.png);
    background-attachment: fixed;
}
.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgba(94, 93, 88, 0.6);
    height: 120px;
    align-items: center;
}
.logo-1 {
    display: flex;
    flex-direction: row;
    margin-left: 380px;
    justify-content: flex-start;
    position: relative;
    left: -21px;
    color: white;
    font-size: 32px;
    font-weight: 400;
}
.logo-1 span {
    color: rgba(24, 207, 171, 1);
    font-size: 32px;
    font-weight: 700;
}
.h-img {
    position: relative;
    left: 380px;
}
.main-letter {
    position: relative;
    left: 338px;
    font-weight: 700;
    font-size: 40px;
    color: white;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.nav-info {
    display: flex;
    flex-direction: row;
    margin-left: 305px;
}
.nav-info > * {
    padding-left: 21.09px;
    color: rgba(255, 255, 255, 0.6);

}
.nav-info > li:hover{
    color:rgba(24, 207, 171, 1);
}
.nav-info > li img {
    width: 21.09px;
    height: 20px;
}
.main-titles {
    margin: 264px auto;
    text-align: center;
}
.main-title-1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1px;
    letter-spacing: 0px;
    color: white;
}
.main-title-1 span {
    color: rgba(24, 207, 171, 1)
}
.main-title-2 {
    color: white;
    font-size: 78px;
    font-weight: 700;
    line-height: 1px;
    letter-spacing: 0px;
}
.main-titles p  {
    font-size: 34px;
    font-weight: 400;
    line-height: 1px;
    letter-spacing: 0px;
    color: rgba(212, 212, 212, 1)

}
.buttons {
    display: flex;
    flex-direction: row;
    width: 364px;
    margin: 134px auto 8px auto;
    padding-bottom: 243px;
    justify-content: space-between;
}
#green-btn {
    font-size: 15px;
    font-weight: 700;
    padding: 16px 17px;
    background-color: rgba(24, 207, 171, 1);
    border: none;
    box-shadow: 0 -3px white;
    border-radius: 5px;
    color: white;
}
#blue-btn {
    font-size: 15px;
    font-weight: 700;
    padding: 16px 17px;
    background-color: rgba(0, 203, 246, 1);
    border: none;
    box-shadow: 0 -3px white;
    border-radius: 5px;
    color: white;
}

/* Squares-section */

.squares {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.square-1, .square-2, .square-3, .square-4 {
    width: 480px;
    height: 377px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.square-1, .square-3 {
    background-color: #1C2A33;
    color: rgba(24, 207, 171, 1);
}
.square-1 > img, .square-3 > img{
    position: relative;
    top: 95px;
}
.square-2, .square-4 {
    background-color: #18CFAB;
    color: white;
}
.square-2 > img, .square-4 > img {
    position: relative;
    top: 105px;
}
.square-1 > p, .square-3 > p {
    position: relative;
    top: 120px;
}
.square-2 > p, .square-4 > p {
    position: relative;
    top: 142px;
}

/* Service-section */

.service-section {
    text-align: center;
}
#line-1 {
    width: 75.5px;
    height: 1px;
    background-color: rgba(24, 207, 171, 1);
    margin-left: 924px;
}
#line-2 {
    width: 75.5px;
    height: 1px;
    background-color: rgba(24, 207, 171, 1);
    margin-top: 3px;
    margin-left: 935.5px;
}
.service {
    display: flex;
    flex-direction: row;
    width: 1142px;
    margin-left: 0;
    padding: 23px 0px;
    margin-left: 390px;
    justify-content: space-between;
}
.service > li {
    padding: 15px 0;
    color: rgba(113, 113, 133, 1);
    width: 192px;
}
.service-info {
    display: flex;
    flex-direction: row;
    width: 1142px;
    margin: 23px auto auto auto;
    margin-bottom: 91px;
}
.service-text {
    width: 935px;
}
.purchase-info {
    height: 476px;
    background-image: url(../img/backgrounds/background-2.png);
    margin-bottom: -40px;
}
.purchase-info > h3 {
    padding-top: 126px;
    width: 1143px;
    color: rgba(24, 207, 171, 1);
    font-size: 40px;
    font-weight: 700;
    margin: 0 auto;
}
.purchase-info > h6 {
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 67px;
}

/* Work section */

.work-section {
    background-color: #E9EDEF;
    padding-top: 80px;
}
.works-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 582px;
    padding-left: 0;
    height: 58px;
    margin: 70px auto;
    border: 1px solid rgba(218, 218, 218, 1);
    color: rgba(113, 113, 133, 1);
}
.works-list > li:first-child {
    padding-left: 10px;
}
.images {
    display: grid;
    width: 1142px;
    margin: 70px auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
    background-color:aliceblue;
}
.images > img {
    z-index: -1000;
}
.images > .active {
    z-index: 1000;
}
.category {
    border-top: 3px solid rgba(24, 207, 171, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    position: relative;
}
.category > img:first-child {
    position: relative;
    top: 48px;
    right: 30px;
}
.category > img:nth-child(3){
    position: relative;
    left: 20px;
    top: 6px;
}
.category > img:nth-child(2){
    position: absolute;
    top: 62px;
    left: 105px;
}
.category > img:nth-child(4){
    position: absolute;
    top: 64px;
    left: 156px;
}
.category > h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    color:rgba(24, 207, 171, 1)

}
.category > h5 {
    position: relative;
    bottom: 40px;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
}
.load-btn {
    border: none;
    padding: 19px 15px;
    background-color: #18CFAB;
    width: 168px;
    height: 58px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 876px 90px 876px;
    border-radius: 5px;
    position: relative;
}
.load-btn > img {
    padding-right: 15px;
}
.load-grid {
    display: grid;
    width: 1142px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 5px;
    margin: 0 auto;
    padding-bottom: 50px;
    grid-gap: 1px;
}
.service > li:hover {
    border: 2px solid rgba(24, 207, 171, 1);
}

/* News section */

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1160px;
    margin: auto;
}
.date-sqr {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 68px;
    background-color: rgba(32, 62, 56, 1);
    color: white;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 68px;
    left: 193px;
}
.date-sqr:hover {
    background-color:#18CFAB
}
#post:hover {
    color:rgba(24, 207, 171, 1);
}
#post {
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    color:rgba(113, 113, 133, 1);
    padding-left: 17px;
    margin-top: 1px;
    margin-bottom: -4px;
}
.comment {
    display: flex;
    flex-direction: row;
    width: 210px;
    padding-left: 6px;
    justify-content: space-around;
}
#comment {
    font-size: 14px;
    font-weight: 300;
    color: rgba(119, 119, 119, 1);
    height: 17px;
}
#comment:first-child {
    border-right: 1px solid rgba(119, 119, 119, 0.7);
    padding-right: 20px;
}

/* Viewers section */

.viewers-section {
    background-image: url(../img/backgrounds/background-3.png);
    background-attachment: scroll;
    margin-bottom: -95px;
}
strong {
    position: relative;
    color:rgba(24, 207, 171, 1);
    width: 47px;
    height: 33px;
    font-size: 80px;
    left: 935px;
    top: 50px;
}
#vw-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: white;
    padding-top: 98px;
}
.viewer-text {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: rgba(187, 187, 187, 1);
    position: relative;
    width: 1160px;
    transition: all ease 0.25s;
}
#viewer-name {
    text-align: center;
    font-size: 30px;
    color: rgba(24, 207, 171, 1);
}
#viewer-job {
    text-align: center;
    font-size: 16px;
    color: rgba(187, 187, 187, 1);
    font-weight: 300;
    margin-top: 0;
}
.slider {
    width: 1160px;
    margin: 0 auto;
    overflow: hidden;
}
.text-slider {
    display: flex;
    flex-direction: row;
    width: 4640px;
    margin: 0px auto;
}
.viewer {
    border-radius: 50%;
    border: 11px solid rgba(31, 218, 181, 0.2);
    width: 142px;
    height: 142px;
}
.slider-2 {
    width: 120px;
    margin: 0 auto;
    overflow: hidden;
}
.name-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 480px;
    position: relative;
    color:rgba(24, 207, 171, 1);
}
.viewer-name {
    width: 120px;
    position: relative;
    transition: all ease 0.25s;
}
.slider-3{
    width: 120px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.job-slider {
    display: flex;
    flex-direction: row;
    width: 480px;
    justify-content: space-between;
    padding-left: 0;
}
.job {
    width: 120px;
    font-size: 13px;
    font-weight: 300;
    color: rgba(187, 187, 187, 1);
    position: relative;
    transition: all ease 0.25s;
}
.slider-4 {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 104px;
    margin: 50px auto 100px auto;
}
.slider-4 > span {
    width: 10px;
    height: 15px;
    padding: 5px 8px;
    color: rgba(187, 187, 187, 1);
    border: 1px solid rgba(187, 187, 187, 0.5);
}
.slider-4 > span:hover {
    background-color: #18CFAB;
    color: white;
}
.images-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    position: relative;
    overflow: hidden;
}
.images-slider > img {
    width: 59px;
    height: 59px;
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    position: relative;
    transition: all ease 0.25s;
}
.active-img {
    background-color: #18CFAB;
}

/* Footer */

#bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 121px;
    background-color: rgba(34, 53, 63, 1);
    justify-content: center;
    align-items: center;
    color: rgba(174, 174, 174, 1);
}
#bottom > p > span {
    color: rgba(24, 207, 171, 1);
    border-right: 1px solid rgba(174, 174, 174, 0.7);
    padding-right: 4px;
}
#bottom > p {
    padding-left: 4px;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}
.loading::after {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    content: '';
    border: 8px dotted #6b5be1;
    border-bottom-color: transparent;
    transform: rotate(0deg);
    animation: 1s linear infinite spin;
    margin: 40px 940px;
}
@keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.active {
    display: flex;
}